*~
.sw?
.*.sw?
*.beam
*.coverdata
/.erlang.mk/
/cover/
/debug/
/deps/
/doc/
/ebin/
/etc/
/logs/
/plugins/
/test/ct.cover.spec
/xrefr

rabbit.d

# Generated sources files.
src/rabbit_ctl_usage.erl
src/rabbit_plugins_usage.erl

# Generated documentation.
docs/rabbitmq-echopid.man.xml
docs/rabbitmq-service.man.xml
docs/*.tmp

# Dialyzer
*.plt

# Tracing tools
*-ttb
*.ti
